{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Login{% endblock %}


{% block content %}
<div class="container">
	<h1>Login</h1>
	<!-- This is where our form will go. -->
		{{ render_form(form) }}

	 <!-- <form method ="POST" action="{{ url_for('login') }}" novalidate>
		{{ form.csrf_token }}
		{{ form.username.label}} <br> {{ form.username }}
		{%  for err in form.username.errors %}
		<span style="color: red;">[{{ err }}]</span>
		{% endfor %}
		<br>
		<br>
		{{ form.password.label}} <br> {{ form.password }}
		{%  for err in form.password.errors %}
		<span style="color: red;">[{{ err }}]</span>
		{% endfor %}
		<br>
		<br>
		{{ form.login}}
	 </form> -->
	</div>
{% endblock %}
